.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(57, 78, 85);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li, #logo{
  cursor: pointer;
}

.thumbnail{
  margin: 10px;
  cursor: pointer;
  width: max-content;
  display: inline-block;
}